.navbar .maxWidth {
    width: 100%;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 99;
}

.navLeft {
    display: flex;
}

.navLeft div {
    padding: 0 2rem;

}

.navTab svg {
    cursor: pointer;
}

.navTab {
    display: inline-block;
    font-size: 1.5rem;
    font-family: var(--font-family2);
    letter-spacing: 0.1rem;
    padding: 1rem 0.5rem;
    color: #ffffff;
}

.navRight {
    display: flex;

}

.navIcon {
    margin: 0 0.5rem;
}